:root {
  --blue-color: #2594f3;
  --purple-color: #ed2de2;
  --black-color: #374151;
  --main-color: #1976d2;
  --sub-color: #1a699e;
  --sec-color: #2c9aff;
  --1-color: #f2f4f5;
  --2-color: #f2f4f5;
  --3-color: #f2f4f5;
  --border-color: #ebeced;
  --width: 100vw;
}
