button.likeBtn {
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
p.postlike {
  position: relative;
  font-weight: 500;
  margin: 0;
  text-align: left;
  font-size: 1.5rem;
  align-self: center;
}
svg.loadHeart {
  position: relative;
  animation: scaling 1s infinite ease-in-out;
}
.heart {
  color: red;
}
@keyframes scaling {
  0% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.2);
  }
}
section.likeSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
}
