@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
div.searchTop {
  width: 100%;
  z-index: 1000;
  height: 110px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  background-color: var(--dash-color);
  position: fixed;
}
.stoIntro {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  justify-content: center;
  margin-left: 30px;
  min-width: 118px;
  font-size: 1.8rem;
}
span.intro {
  position: relative;
}
form.searchForm {
  position: relative;
  display: flex;
  width: 60vw;
  height: 65px;
  border: 1px solid white;
  border-radius: 5px;
}
.submitBtn {
  position: relative;
  flex-grow: 1;
  transition: 0.3s;
  border-width: 0px;
  cursor: pointer;
  background-color: transparent;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.searchInput {
  flex-grow: 19;
  height: 40px;
  color: white;
  border: none;
  background-color: transparent;
  outline: none;
  padding-left: 15px;
  font-size: 1.2rem;
  position: relative;
  top: 12px;
}
.submitBtn:hover {
  background-color: rgba(128, 128, 128, 0.429);
  transition: 0.3s;
}
section.searchBottom {
  position: relative;
  display: flex;
  flex-direction: row;
}
div.searchOptions {
  flex-grow: 1;
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
div.searchOptions div {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  margin-left: 2vw;
}
div.searchResults {
  flex-grow: 3;
  width: 75%;
  /* display: grid;
  grid-template-columns: repeat(4, 1fr); */
}
h2.resultsNum {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
}
div.searchGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
div.indPost {
  border: #e5e7eb solid 1px;
  border-radius: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  background-color: white;
  color: var(--scroll-color);
  padding: 0.5rem;
  min-width: 220px;
  margin: 3px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  width: 17vw;
  transition: transform 0.3s;
}
div.indPost:hover {
  transform: scale(1.15);
  transition: transform 0.4s;
}

.languageSelector {
  position: relative;
}

.languageSelector select {
  padding: 5px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  background-color: #f8f9fa;
  color: #3c4043;
}

.languageSelector select:active,
.languageSelector select:focus {
  outline: none;
  box-shadow: none;
}

div.colorSelector {
  position: relative;
}
.colorSelector select:active,
.colorSelector select:focus {
  outline: none;
  box-shadow: none;
}

div.colorSelector select {
  padding: 5px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  background-color: #f8f9fa;
  color: #3c4043;
}

h3.indTitle {
  font-size: 1.2rem;
  font-weight: 600;
}

h2.title {
  font-family: poppins, sans-serif;
  font-size: 1.5rem;
  position: relative;
  margin-left: 2rem !important;
}

.selectors {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-right: 30px;
}
